<a href="https://colab.research.google.com/github/yazminmo/FreeCodeCamp-Pandas-Real-Life-Example/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Start loading `matplotlib`, `numpy` and `pandas` the usual way

In [ ]:
%matplotlib inline
import matplotlib
import numpy as np
import pandas as pd

‚ùì Load the CSV data as a into a `titanic_df` variable.

the csv file is available at this url: https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Titanic_dataset.csv

<details>
    <summary>üí° <strong>Hint</strong> - Click to reveal</summary>
    Try using <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html"><code>pandas.DataFrame.read_csv</code></a>
</details>

 Explore the dataset with the usual methods (`shape`, `dtypes`, `describe()`, `info()`, `isnull().sum()`).

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.isnull().sum()

It seems that the `Cabin` information is missing in 687 rows. Pretty normal considering people in 3rd class (`Pclass`) did not have one!

In [ ]:
titanic_df.drop('Cabin', axis=1, inplace=True)

Using a `groupby()`, create a `pclass_df` dataframe counting the number of tickets sold per class (1, 2 or 3)

In [ ]:
pclass_df = titanic_df.groupby("Pclass").count()["PassengerId"].to_frame(name="count")
pclass_df

Looking at the number is not very visual, let's try to make sense of the data with a plot.

In [ ]:
pclass_df.plot(kind="bar")

Let's now have a look at **survivors**.

‚ùì Plot a barchart of *frequency of survivals* per class. `0` means no one survived in the class, `1` means everyone survived.

In [ ]:
titanic_df[["Pclass","Survived"]].groupby('Pclass').mean().plot(kind='bar')


Let's have a look at the `Sex` column.

‚ùì Use the [`pandas.Series.unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html) function to check the different values used in that column

In [ ]:
titanic_df['Sex'].unique()

‚ùì Plot a barchart of survival frequency of each gender. Who survived the most?

In [ ]:
titanic_df[['Survived', 'Sex']].groupby('Sex').mean().plot(kind='bar')

Let's build a fancier histogram where we show the total number of passengers + the total number of survivors (for each gender).

‚ùì Build a `survivors_df` DataFrame with two columns: `Total` and `Survived`, and two rows (`male` and `female`). Plot it.

In [ ]:
survivors_df = titanic_df[['Survived', 'Sex']].groupby('Sex').sum()
survivors_df['Total'] = titanic_df[['Survived', 'Sex']].groupby('Sex').count()
survivors_df.plot(kind='bar')


The former analysis did not take into account ages. We want to differentiate between a child and an adult and see how survival rates are affected.

‚ùì Use boolean indexing to create a `children_df` containing only rows of child passengers

In [ ]:
children_df = titanic_df[titanic_df['Age'] <= 17]
children_df.head()

How many children survived?

In [ ]:
children_df['Survived'].sum()

 Plot a barchart of survivors / total for each category: `male`, `female`, `children`. Bear in mind that you need to **substract** the boys from the `male` statistics, and the girls from the `female` statistics.

In [ ]:
survivors_df.loc['children'] = [children_df['Survived'].sum(), children_df.shape[0]]
survivors_df

In [ ]:
children_gender_df = children_df[['Survived', 'Sex']].groupby('Sex').sum()
children_gender_df['Total'] = children_df[['Survived', 'Sex']].groupby('Sex').count()
children_gender_df.loc['children'] = [ 0, 0 ]
children_gender_df

In [ ]:
(survivors_df - children_gender_df).plot(kind='bar')

‚ùì Find out if it was harder for bigger families to survive?

In [ ]:
titanic_df['family_size'] = titanic_df['SibSp'] + titanic_df['Parch']
titanic_df.groupby('family_size').mean()['Survived'].plot(kind='bar');

‚ùì Were passengers with distinguished titles preferred during the evacuation?
   
With some string manipulation, create a new column for each user with their title

In [ ]:
titanic_df['Title'] = titanic_df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
titanic_df.groupby('Title').count()['PassengerId'].sort_values().plot(kind='bar', logy=True)

In [ ]:
titanic_df.groupby('Title').mean()['Survived'].sort_values().plot(kind='bar')